body {
    font-family: 'Arial', 'Lucida Sans Regular', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(/img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {

    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(76, 42, 178);
    border: 2px solid rgb(7, 6, 6);
    color: #000000;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgb(39, 38, 38);
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type=number] {
    width: 50px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button {
    background-color: #e02e2e;
    color: white;
    padding: 13px 22px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.boton2 {
    background-color: #ca6638;; 
}

button:hover {
    background-color: #f0f0f0;
    color: #000000;
}

@media screen and (max-width: 800px) {
    .container {
        width: 40%;
    }
}

